<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MQ_QUEUE" value="" />
    <add key="MQ_QUEUE_MANAGER" value="" />
    <add key="MQ_CHANNEL" value="" />
    <add key="MQ_HOST" value="127.0.0.1" />
    <add key="MQ_USERID" value="mqm" />
    <add key="MQ_PASSWORD" value=""/>
    <add key="MQ_AUTHENTICATION_ENABLED" value="false"/>
    <add key="MQ_PORT" value="1417" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>